body {
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
 
.budget{
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
}

form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

#amount{
    width: 1000%;  /* Reduced width */
    font-size: 14px;  /* Smaller font size */
    padding: 6px;  /* Adjust padding for a smaller field */

}
#date{
    width: 10 0%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.menu {
    cursor: pointer;
    font-size: 18px;
}

.dropdown {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
}

.dropdown button {
    width: 100%;
    text-align: left;
}
.addTransaction{
    background-color:rgb(12, 238, 238);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}